POSTGRES_DB=riquinho
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/riquinho?schema=public
PORT=3333
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:3333/api
BRAPI_TOKEN=2AMcV5moAXuoNN44dEww4W
COINGECKO_API_KEY=
